@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent horizontal scroll globally */
body {
    overflow-x: hidden;
  }

/* Hide scrollbar but allow scroll */
body {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
  }
  body::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }